<div background="t5h.png">
<h1><strong> So this is what we have on this page</strong></h1>
<h1>{{ post.title }}</h1>
<p>{{ post.content }}</p>

	<canvas id="myCanvas"></canvas>	

<div>
<script>
  (function() {
    var cx = '007038949981617229776:ei6b41e6nig';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>

</div>
    
</div>